<section class="mt-5 mb-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 bg-dark p-4">
                <h1>Deine Ansprechpartnerin:</h1>
                <h3> {{ .name }}</h3>

                <p class="mb-0 mt-5">{{.mail}}</p>
                <p class="m-0">{{.tel}}</p>
                <p class="m-0">{{.mob}}</p>
                
            </div>
            <div class="col-lg-4 bg-dark" style="background-image: url('{{ .image | absURL }}'); background-position: center; background-size: cover">

            </div>
        </div>
    </div>
</section>
