{{ $data := index site.Data site.Language.Lang }}

<!-- TODO reaprieren -->
{{ if $data.funfacts.funfacts.enable }}
{{ with $data.funfacts.funfacts }}
<section class="section" style='min-height:300px; padding-top: 50px; padding-bottom: 50px; background-image: url("{{ .bg_image | absURL }}"); background-size: cover'>
    <div class="container">
        <div class="row justify-content-between">
            {{ $len := (len .counter_item)}}
            {{ range $index, $element := .counter_item }}
            <div class="col-lg-2 col-md-6 col-12 text-center wow fadeInDown" data-wow-duration="500ms">
                <div class="counters-item justify-content-center">
                    <div class="mx-auto iconBox">
                        <i class="{{ $element.icon }}"></i>
                    </div>
                    <span class="count" data-count="{{ $element.count }}">0</span>
                    <h3 class="mb-5">{{ $element.title | markdownify }}</h3>
                </div>
            </div>
            {{ end }}
        </div>
    </div>
</section>
{{ end }}
{{ end }}