
<div class="row">
    <div class="col-lg-5 padding-0" style="background-image: url('{{ .image_webp | absURL }}'); background-size: cover; background-position: top center; background-repeat: no-repeat; min-height: 400px;">
        <!-- this image is for trigger this section fallback background image -->
        <img src="{{ .image_webp | absURL }}" style="display: none;" onerror="this.onerror=null;this.parentElement.style.backgroundImage= 'url({{ .image | absURL }})'">
    </div>
    <div class="col-lg-7">
        <div class="" style="padding:50px">
            <div class="row mb-4">
                <div class="col-lg-12 mb-5">
                    {{"<!-- section title -->" | safeHTML}}
                    <div class="title wow fadeIn" data-wow-duration="1500ms" style="padding-bottom: 0">
                        {{ $titleFirst := (split .title " ") }}
                        {{ $lenTotal := (len $titleFirst) }}
                        {{ $len := sub $lenTotal 2 }}
                        <h2 class="section-title-border-half mb-5">
                            {{ range $index, $element := $titleFirst }}
                            {{ if le $index $len }}
                            {{ $element }}
                            {{ else }}
                            <span class="color"> {{ $element }} </span>
                            {{ end }}
                            {{ end }}
                        </h2>
                    </div>
                    <p>{{ .content }}</p>
                </div>
                {{"<!-- /section title -->" | safeHTML}}
                {{ range .benefits }}
                <div class="col-lg-12">
                    <div class="media mt-2 mb-2" style="border-bottom: 1px solid #737f8a">
                        {{with .icon}}
                        <div class="align-self-start mr-3" style="width:30px; heigth:30px;">
                            <i class="{{ . }}"></i>
                        </div>
                        {{ end }}
                        <div class="media-body">
                            <h5 class="media-heading">{{ .title | markdownify }}</h5>
                            <p>{{ .content | markdownify }}</p>
                        </div>
                    </div>
                </div>
                {{ end }}
            </div>
            {{ if .button }}
            <a data-duration-in="0.5" data-animation-in="fadeIn{{.animation_from | humanize}}" data-delay-in="1"
               href="{{ .button.link | relLangURL }}" class="btn btn-one text-uppercase"><span>{{ .button.label }}</span></a>
            {{ end }}
        </div>
    </div>
</div>
