.darkner {
}

.darkner:before {
    content: '';
    background: rgba(0, 0, 0, 0.63);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.professional{}

.prof p{
    color: #afbac4
}

.prof i{
    color: #afbac4
}

.professional:hover{
    position:relative;
    animation-name: enlarger2;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
    z-index: 50;
}


.professional:hover p{
    color: #dddddd;
}

.professional:hover h3{
    color: #dddddd;
}

.professional:hover h3{
    color: #dddddd;
}

.professional:hover i{
    color: #fff;
}

@keyframes enlarger2 {
    0%   {
        transform: scale(1);}
    100% {
        transform: scale(1.1);
        box-shadow: 5px 10px 18px #000000;
    }
}

.border-terrazzo{
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
}

.rotate{
    transform: rotate(-90deg);

    /* Legacy vendor prefixes that you probably don't need... */

    /* Safari */
    -webkit-transform: rotate(-90deg);

    /* Firefox */
    -moz-transform: rotate(-90deg);

    /* IE */
    -ms-transform: rotate(-90deg);

    /* Opera */
    -o-transform: rotate(-90deg);

    /* Internet Explorer */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}