{{ define "main" }}

{{ $data := index site.Data site.Language.Lang }}

{{ partial "navigation.html" . }}

{{ partial "Landingpage/herobanner.html" . }}

{{ partial "Landingpage/terrazzo.html" $data.terrazzo }}

{{ partial "funfacts.html" . }}

{{ partial "Landingpage/sichtspachtelmasse.html" $data.sichtspachtelmasse }}

{{ partial "Landingpage/professional.html" . }}

{{ partial "cta.html" $data.jobscta }}

{{ partial "Landingpage/teamTeaser.html" . }}

{{ partial "cta.html" $data.kontaktcta }}

{{ end }}
